<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>

    <p>

      <div class="container-fluid">
        <div class="home-heading text-center row">
          <div class="home-heading-wrapper">
            <h1>A place for pet lovers to connect</h1>
            <p>Find a Petcarer that cares about your pet as much as you do.</p>
          </div>
        </div>
      </div>

    </p>
  </body>
</html>
