<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>

    <p>

      <div class="container-fluid" index>
        <div class="home-heading text-center row">
          <div class="home-heading-wrapper">
            <h1>Create your own Pet Album with your pets'</h1>
            <h2>photos and info!</h2>
            <p>Sign up now to get started!</p>

          </div>
        </div>
      </div>

    </p>
  </body>
</html>
